<div class="container" style="margin-top:40px">
    <header class="section-header">
        <h3 class="section-title">CONFIRMÁ TU ASISTENCIA ANTES DEL 7 DE AGOSTO DE 2016</h3>
    </header>
    <div class="row">
        <div class="confirmation">
            <p>Para confirmar tu asistencia, primero tenés que identificarte usando los datos que te enviamos vía correo electrónico dentro de la invitación.</p>
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong> Identificate para continuar</strong>
                    </div>
                    <div class="panel-body">
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-user"></i>
                                                </span>
                                            <input class="form-control" placeholder="Email" name="loginname" type="email" autofocus ng-model="loginCtrl.txtEmail" ng-keyup="$event.keyCode == 13 ? loginCtrl.login() : null">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-lock"></i>
                                                </span>
                                            <input class="form-control" placeholder="Contraseña" name="password" type="password" value="" ng-model="loginCtrl.txtPass" ng-keyup="$event.keyCode == 13 ? loginCtrl.login() : null">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Entrar" ng-click="loginCtrl.login()">
                                    </div>
                                    <div ng-show="loginCtrl.invalido" class="alert alert-danger fade in">
                                        <strong>¡Lo sentimos!</strong> {{loginCtrl.errorMsj}}
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="panel-footer ">
                        <a href="" ng-click="loginCtrl.forgotPassword()">Olvidé mi contraseña</a></br>
                        <a href="" ng-click="loginCtrl.changePassword()">Cambiar mi contraseña</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
